# Xiaomi configuration options

config MACH_XIAOMI
	bool "XIAOMI device"
	depends on ARCH_MSM
	help
	  Support for Xiaomi products

config MACH_XIAOMI_MSM8916
	bool "XIAOMI MSM8916"
	depends on ARCH_MSM8916
	select MACH_XIAOMI
	help
	  Support for MSM8916 Xiaomi variants

menu "Xiaomi board selection"

	config MACH_XIAOMI_IDO
		bool "XIAOMI_IDO board"
		select MACH_XIAOMI_MSM8916
		help
		  Support for Xiaomi Redmi 3/Pro variant

	config MACH_XIAOMI_FERRARI
		bool "XIAOMI_FERRARI board"
		select BACKLIGHT_LCD_SUPPORT
		select BACKLIGHT_LM3533
		select CM36686
		select HAPTIC_ISA1000
		select IIO
		select IIO_ST_HUB_DRIVERS
		select IIO_ST_HUB_RAM_LOADER
		select IMMERSION_HAPTIC
		select LEDS_LM3533
		select LEDS_TRIGGER_TIMER
		select MACH_XIAOMI_MSM8916
		select MFD_LM3533
		select MSM_PRESERVE_MEM
		select MSMB_CAMERA_SENSOR_FLASH_LM3646
		select MSMB_CAMERA_SENSOR_FLASH_LM3646_DUMMY
		select TOUCHSCREEN_ATMEL_336T
		select XIAOMI_FERRARI_CAMERA
		help
		  Support for Xiaomi Mi 4i variant

endmenu
