# KudKernel init script
# by krasCGQ @ xda-developers

on boot
    # Enable msm_thermal
    write /sys/module/msm_thermal/parameters/enabled Y

    # Force scheduler requests to be completed on the core they made
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk1/queue/rq_affinity 2

    # Set permissions for UKSM
    chown root system /sys/kernel/mm/uksm/run
    chmod 664 /sys/kernel/mm/uksm/run
    chown root system /sys/kernel/mm/uksm/cpu_governor
    chmod 664 /sys/kernel/mm/uksm/cpu_governor
    chown root system /sys/kernel/mm/uksm/sleep_millisecs
    chmod 664 /sys/kernel/mm/uksm/sleep_millisecs
    chown root system /sys/kernel/mm/uksm/max_cpu_percentage
    chmod 664 /sys/kernel/mm/uksm/max_cpu_percentage

    # Apply UKSM values
    write /sys/kernel/mm/uksm/run 1
    write /sys/kernel/mm/uksm/cpu_governor low
    write /sys/kernel/mm/uksm/max_cpu_percentage 10

on property:dev.bootcomplete=1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 960000
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 800000

# Now run post-init script
service postinit /sbin/post-init.sh
    class main
    user root
    group root
    seclabel u:r:init:s0
    oneshot
