config FINGERPRINT
	tristate "Fingerprint driver support"
	help
	  Say Y here to enable fingerprint driver support!

if FINGERPRINT

source "drivers/fingerprint/fpc/Kconfig"
source "drivers/fingerprint/goodix/Kconfig"

endif # FINGERPRINT
