config FINGERPRINT
	tristate "Fingerprint driver support"
	help
	  Say Y here to enable fingerprint driver support!

if FINGERPRINT

config FINGERPRINT_FPC1020
	tristate "FingerPrint Cards fingerprint driver support"

config FINGERPRINT_GOODIX_GF3208
	tristate "Goodix GF3208 fingerprint driver support"

endif # FINGERPRINT
